
.iconfont {
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

.iconfont:hover{
  color: #CC0066;
}

#cnblog-md-editor-imgs{
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 200px;
  left: 0;
  overflow: scroll;
  position: absolute;
  z-index: 999;
  background: #fff;
  box-shadow: 1px 1px 4px #aeaeae;
}

#cnblog-md-editor-imgs.hidden{
  display: none;
}

.iconfont.doutu{
  position: relative;
}

span#cnblog-md-editor-imgs img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

#emojiBoard{
  font-size: 20px;
  width: 200px;
  overflow-x: scroll;
  padding: 10px 40px;
  background: #fff;
  z-index:99999;
  border-radius: 12px;
  white-space: nowrap;
  position: absolute;
}
#emojiBoard span{
  padding: 10px;
  cursor: pointer;
}
