
.iconfont {
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

.iconfont:hover{
  color: #CC0066;
}

#cnblog-md-editor-imgs{
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 200px;
  left: 0;
  overflow: scroll;
  position: absolute;
  z-index: 999;
  background: #fff;
  box-shadow: 1px 1px 4px #aeaeae;
}

#cnblog-md-editor-imgs.hidden{
  display: none;
}

.iconfont.doutu{
  position: relative;
}

span#cnblog-md-editor-imgs img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

#emojiBoard{
  font-size: 20px;
  width: 200px;
  overflow-x: scroll;
  padding: 10px 40px;
  background: #fff;
  z-index:99999;
  border-radius: 12px;
  white-space: nowrap;
  position: absolute;
}
#emojiBoard span{
  padding: 10px;
  cursor: pointer;
}

#search{
  width: 80px;
  transition: width 0.3s ease;
  border: none;
  padding: 0 5px;
}
#search:focus{
  width: 100px;
  border: none;
  outline: none;
}
/* 排序模块css */
.sorter{
  margin-top: 5px;
  margin-bottom: 5px;

}
.sorter > .btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: -5px;
}
.sorter > .btn.active{
  background-color: #e6e6e6;
}
.sorter .btn:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.sorter .btn:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sorter > .btn:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}

.menu{
  background: #fff;
  padding: 10px;
  color: #4a4a4a;
  border-radius: 6px;
}
.menu li{
  list-style: none;
  cursor: pointer;
}